* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
}

.container {
	gap: 1rem;
}

.flex {
	display: flex;
}

.flex-column {
	flex-direction: column;
}

.flex-row {
	flex-direction: row;
}

.none {
	display: none;
}

.holder {
	width: 748px;
	height: 128px;

	border: 4px solid;

	gap: 0.25rem;
}

.invisible {
	display: none;
}

.character {
	position: relative;
	width: 120px;
	height: 120px;

	cursor: grab;

	display: flex;
	align-items: center;
	justify-content: center;

	transition: 0.2s ease-in-out;
}

.character:hover .overlay {
	opacity: 1;
}
.overlay {
	color: #fff;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: 0.5s ease;
	background-color: rgba(0, 0, 0, 0.5);

	display: flex;
	justify-content: center;
	align-items: center;
}

.hovered {
	border: 4px dotted;
}
